.hydzoo {
  .navbar-brand {
    padding: 5px 15px;
  }

  .navbar-default {
    background: transparent;
    border: none;
    margin-top: 42px;

    .navbar-nav {
      & > li > a {
        color: white;
        font-weight: 700;
      }

      & > li.active > a {
        background: none;
        color: yellow;
        text-decoration: underline;
        text-transform: uppercase;
      }

      & > li {
        margin-left: 60px;
      }
    }
  }

  .navbar-no-margin {
    margin-bottom: 0;
  }
}
