.hydzoo .cells {
  .cell {
    height: 420px;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    color: white;
  }

  .backcover {
    background-image: url(/images/city.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: brightness(0.6);
    z-index: -1;
  }

  .inner {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .dividor-wrap {
    text-align: center;
  }

  .dividor {
    display: inline-block;
    height: 1px;
    width: 60px;
    background-color: white;
    margin-bottom: 24px;
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
  }

  $sorange: #F6C42D;

  .subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 32px;
    color: $sorange;
  }

  .btn-infolink {
    text-transform: uppercase;
    border: 1px solid $sorange;
    color: $sorange;
    padding: 6px 58px;
    font-weight: thin;
    border-radius: 30px/30px;
    background: transparent;
  }
}
