.hydzoo .landing-header {
  background-image: linear-gradient(90deg, rgb(52, 73, 94) 25%, rgb(41, 128, 185) 100%);
  background-image: -moz-linear-gradient(left, rgb(52, 73, 94) 25%, rgb(41, 128, 185) 100%);
  background-image: -webkit-linear-gradient(left, rgb(52, 73, 94) 25%, rgb(41, 128, 185) 100%);
  background-image: -o-linear-gradient(left, rgb(52, 73, 94) 25%, rgb(41, 128, 185) 100%);
  background-image: -ms-linear-gradient(left, rgb(52, 73, 94) 25%, rgb(41, 128, 185) 100%);
  position: relative;
  top: -104px;
  z-index: -1;

  .main {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-dividor {
    display: inline-block;
    height: 1px;
    width: 60px;
    background-color: black;
  }

  .main-inner {
    text-align: center;
  }

  .contact {
    padding: 10px 0;
    background-color: black;
    color: white;
  }

  .contact-item {
    display: inline-block;
    margin-right: 20px;
  }
}
