$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bs-override.scss";
@import "landing-header.scss";
@import "l-2.scss";
@import "l-3.scss";
@import "cells.scss";
@import "contact.scss";
@import "footer.scss";
@import "map.scss";
@import "tank-tabs.scss";
@import "gallery.scss";

body {
  padding: 0;
}

.hint-text {
  color: gray;
  font-size: 14px;
}

.pg-title {
  color: #0082D2;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.pg-subtitle {
  font-weight: thin;
  text-align: center;
  margin-bottom: 60px;
}
