$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bs-override.scss";
@import "landing-header.scss";
@import "l-2.scss";
@import "l-3.scss";
@import "cells.scss";
@import "contact.scss";
@import "footer.scss";

body {
  padding: 0;
}

.hint-text {
  color: gray;
  font-size: 14px;
}

