<section>
  <header>
    <h1 class="pg-title">Cities</h1>
    <h4 class="pg-subtitle">城市模块</h4>
  </header>
</section>

<div class="container cityvis">
  <div class="controls">
    <form novalidate>
      <label for="year">Year:</label>
      <select name="year" id="year" ng-model="year">
        <option value="1997">1997</option>
      </select>
      <label for="year">数据：</label>
      <select name="year" id="year" ng-model="dIndex">
        <option value="0">土地面积建成区</option>
      </select>
    </form>
  </div>
  <mapv mapdata="mapvData"/>
</div>

<footer class="site-footer">
  <div class="container wrap">
    <div class="logo">
      <img src="http://placehold.it/80x40" alt=""/>
    </div>
    <p>&copy; 2015 XXX</p>
  </div>
</footer>
