<div class="landing-header">
  <div class="main">
    <div class="main-inner">
      <h1>INTELLIGENT PLANNING<br/>
        <i class="landing-highlight">CO-CREATION</i> PLATFORM
      </h1>
      <div class="landing-dividor"></div>
      <h4>智能规划协同创新平台</h4>
    </div>
  </div>
  <div class="contact">
    <div class="container">
      <div>
        <span class="contact-item">
          <i class="glyphicon glyphicon-envelope"></i>
          admin@tongji.edu.cn
        </span>
        <span class="contact-item">
          <i class="glyphicon glyphicon glyphicon-earphone"></i>
          (+86) 6598-9999
        </span>
      </div> <!-- left contact -->
    </div>
  </div>
</div> <!-- landing-header -->

<section class="l-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text">
        <header class="header">
          <h4>Welcome</h4>
          <h2>Intelligent Planning Co-Creation PLATFORM.</h2>
          <div class="dividor"></div>
        </header>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea hic deleniti, modi, blanditiis veritatis reiciendis vel iusto possimus! Ipsa distinctio natus ex culpa dolorem laboriosam nisi atque rem temporibus nemo.</span>
        <span>Odit cum provident magni dolorum inventore impedit ex consequuntur repudiandae aut sed quasi in, ipsum, eius fugit soluta aliquam enim dignissimos laborum reiciendis omnis error ad ducimus laudantium nam. Perferendis.</span>
        <span>Quae perspiciatis eius, doloremque magnam vel temporibus dicta dolores fuga soluta harum nisi culpa odit natus eveniet quibusdam, facilis cum omnis tempore earum unde delectus hic? Nostrum iusto repellat animi?</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, autem! Harum, enim neque aperiam dolor nemo impedit, autem a. Minus in tenetur recusandae ut exercitationem omnis autem porro mollitia quia.</p>
        <div>
          <div class="btn btn-primary">DOWNLOAD RESUME</div>
        </div>
      </div>
      <div class="col-md-4 img-wrap">
        <img src="//placehold.it/180x200" alt="" class="i-1">
      </div>
    </div> <!-- row -->
    <div class="row features" ng-repeat="i in [1, 2]">
      <section class="col-md-4 feature" ng-repeat="j in [1, 2, 3]">
        <aside class="feature-icon">
          <img src="//placehold.it/30x30" alt="">
        </aside>
        <div>
          <header>
            <h6>Perfect Responsive</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nisi itaque magnam ratione ut explicabo enim, magni nesciunt illo.</p>
          </header>
        </div>
      </section>
    </div> <!-- features -->
  </div>

</section> <!-- l-2 -->

<section class="l-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="subtitle">Our</div>
        <div class="title">Events</div>
      </div>
      <div class="col-md-9">
        <ul class="links">
          <li class="link"><a href="#">Links</a></li>
          <li class="link"><a href="#">Think Tank</a></li>
          <li class="link"><a href="#">Research Project</a></li>
          <li class="link"><a href="#">Management</a></li>
        </ul>
      </div>
    </div>
  </div>
</section> <!-- our events -->

<section class="cells clearfix">
  <section class="cell" ng-repeat="i in [1,2,3,4]">
    <div class="inner">
      <div class="dividor-wrap">
        <span class="dividor"></span>
      </div>
      <div class="title">CITIES</div>
      <div class="subtitle">城市模块</div>
      <div class="cta">
        <div class="btn btn-primary">
          Info
        </div>
      </div>
    </div>
  </section>
</section> <!-- events (cells) -->
