<div class="landing-header">
  <div class="main">
    <div class="main-inner">
      <h1>INTELLIGENT PLANNING<br/>
        <i class="landing-highlight">CO-CREATION</i> PLATFORM
      </h1>
      <div class="landing-dividor"></div>
      <h4>智能规划协同创新平台</h4>
    </div>
  </div>
  <div class="contact">
    <div class="container">
      <div>
        <span class="contact-item">
          <i class="glyphicon glyphicon-envelope"></i>
          admin@tongji.edu.cn
        </span>
        <span class="contact-item">
          <i class="glyphicon glyphicon glyphicon-earphone"></i>
          (+86) 6598-9999
        </span>
      </div> <!-- left contact -->
    </div>
  </div>
</div> <!-- landing-header -->

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
